* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.freeCodeCamp-logo {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 400px;
  height: 50px;
}

.main-container {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-style: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}